<div class="w-full bg-blue-500 px-1 py-2 font-bold text-white inline-flex items-center shadow-bottom text-lg">
  <i class="fa-solid fa-snowflake mr-1"></i> ThermoSense
</div>



<div class="flex flex-col md:mx-[20%] ">
    <!--Contenedor input y evaluador-->
    <div class="flex flex-col md:flex-row w-100 md:justify-between">
        <app-input-sensor></app-input-sensor>
        <app-input-evaluator></app-input-evaluator>
     
    </div>

    <!--Contenedor display -->
    <div>
        <app-comfort-display></app-comfort-display>
    </div>

</div>